body{
    /*background-image: url(../img/mail.png) ;*/
    /*background-repeat: no-repeat;*/

    /*background-color: rgba(117,117, 85, .4);*/
    /*background-size: 100px 50px;*/
    /*background-position: 40% 1%;*/

}
.modalajax {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    /*url('../img/477.gif')*/
    50% 50%
    no-repeat;
}
body.loading {
    overflow: hidden;
}
body.loading .modalajax {
    display: block;
}

.layout{
    margin: 15px 0;
    overflow: hidden;
    min-width: 1000px;
    max-width: 1400px;
}
.map-content{
    width:700px;
    float: left;
}
.content{
    margin-left:700px;
    font-size: 20px;
    padding: 20px;
}
.route-main{
    margin-bottom: 30px;
}
.map{
    width:620px;
    height: 620px;
    padding: 20px;
}
#res, #resTime{
    font-size: 20px;
    color: green;
    font-weight: bold;
}
.res-dist{
    display: none;
}
.res-dist h2{
    display: none;
}
.office-route{
    display: none; font-size: 20px;
    padding: 10px;
}
.office-route_title{
    margin-bottom: 20px;
}
.route-calc{
    margin-top: 50px;
}
.map-content_title{
    font-size: 30px;
    padding: 20px;
}
.list-post-Offices select, .list-post-Offices input  {
    margin-bottom: 30px;
}
.route-add{
    margin-top: 20px;
    display: none;
}
.route-add input{
    margin-top: 20px;
}
#loading-indicator, #indicator-draw {
    position: absolute;
    left: 50%;
    top: 30%;

    display: none;
    z-index: 2000;
}
#calc{
    display: none;
}
.amendment{
    margin-top: 10px !important;
}
.timetransport{
    padding-bottom:5px;
}
.seeSelect{
    color: #31b0d5;
    font-weight: bold;
}

@keyframes typestransport {
    0%   { background-color: #f3b7b7; }
    50%  { background-color: #ffffb6; }
    100% { background-color: #f3b7b7; }
}
@-moz-keyframes typestransport {
    0%   { background-color: #f3b7b7; }
    50%  { background-color: #ffffb6; }
    100% { background-color: #f3b7b7 }
}
@-webkit-keyframes typestransport {
    0%   { background-color: #f3b7b7;}
    50%  { background-color: #ffffb6; }
    100% { background-color: #f3b7b7; }
}

.typestransport{
    animation:         typestransport  1s infinite;
    -moz-animation:    typestransport  1s infinite;
    -webkit-animation: typestransport  1s infinite;
}
.oneaimation{
    animation:         typestransport  1s 1;
    -moz-animation:    typestransport  1s 1;
    -webkit-animation: typestransport  1s 1;
}
/*Button disabled - CSS color class*/
.btn-disable, .btn-disable2
{
    cursor: default;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
    border-color: #ffffff;

}
.placebreak{
    font-weight:bold;

}
.placebreak-hide{
    display: none;
}
.chosen-status{
    background: rgba(3,169,244,.5);

}
.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}
.label-width{
    width: 300px;
}
.del-pochta{
    cursor: pointer;
}
.pd-rg{
    margin-right: 10px;
}
.pd-lf{
    margin-left: 10px;
}
.panel-title>a:hover{
    color: #1374c1;
    text-decoration: none;
}
.panel-title>a:active{
    color: #0e5a96;
    text-decoration: none;
}
.panel-title.attentionDel>a:hover{
    color: #ff6348;
    text-decoration: none;
}
.panel-title.attentionDel>a:active{
    color: #ff4836;
    text-decoration: none;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.del-pochta .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.del-pochta:hover .tooltiptext {
    visibility: visible;
}
.add-no-active-elem{
    opacity:.5;
    pointer-events: none;
}
.pd-tp{
    padding: 10px 0 10px 0;
}
.tx-al-center{
    text-align: center;
}
.pd-tp-mn{
    padding-top: 14px;
}